[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
numpy = "*"
matplotlib = "*"
pandas = "*"
torch = "*"
scipy = "*"
pynrrd = "*"
requests = "*"
plotly = "*"
ipython = "<=8.13.0"
tk = "*"

[dev-packages]

[requires]
